# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:

data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

display(data.head())
display(data.shape)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

(33702, 8)

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

data.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

data['Salary or Hourly'].value_counts

<bound method IndexOpsMixin.value_counts of 0        Salary
1        Salary
2        Hourly
3        Salary
4        Salary
          ...
33697    Salary
33698    Salary
33699    Salary
33700    Salary
33701    Salary
Name: Salary or Hourly, Length: 33702, dtype: object>

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

data.pivot_table(index= ['Department'], values = ['Name'],aggfunc = ['count']).reset_index()

             Department  count
                          Name
0          ADMIN HEARNG     38
1         ANIMAL CONTRL     75
2              AVIATION   1856
3     BOARD OF ELECTION    111
4       BOARD OF ETHICS      8
5         BUDGET & MGMT     44
6             BUILDINGS    258
7      BUSINESS AFFAIRS    167
8            CITY CLERK     88
9          CITY COUNCIL    362
10                 COPA    123
11     CULTURAL AFFAIRS     74
12                 DAIS   1033
13         DISABILITIES     28
14     FAMILY & SUPPORT    656
15              FINANCE    544
16                 FIRE   4627
17               HEALTH    467
18              HOUSING     66
19   HOUSING & ECON DEV    154
20      HUMAN RELATIONS     17
21      HUMAN RESOURCES     75
22        INSPECTOR GEN     95
23                  LAW    398
24    LICENSE APPL COMM      1
25       MAYOR'S OFFICE    104
26                 OEMC   1737
27               POLICE  13848
28         POLICE BOARD      2
29          PROCUREMENT     84
30       PUBLIC LIBRARY   1088
31  PUBLIC SAFETY ADMIN    244
32        STREETS & SAN   2175
33           TRANSPORTN   1113
34            TREASURER     28
35          WATER MGMNT   1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
data['Hourly Rate'].isna().sum()

25528

In [8]:
hourly_w= data['Hourly Rate'].dropna()

In [9]:
hourly_w

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

In [10]:
hourly_w.mean()

34.58644971862046

In [11]:
# Your code here:

import scipy.stats
from scipy.stats import ttest_1samp

# H0 = The hourly wage of all hourly workers is not significantly different from $30/hr.
# H1= The hourly wage of all hourly workers is significantly different from $30/hr.

stat, pval = ttest_1samp(hourly_w, 30)

In [12]:
print('stat is  ', stat)
print('pvalue is ', pval)

stat is   31.211500329216044
pvalue is  3.825475847673794e-202

In [ ]:
# It's a very small p_value compared to 0.05 therefore, we can reject the null hypothesis 
# that the hourly wage of all hourly workers is not significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
data['Annual Salary'].isna().sum()

8174

In [14]:
salaries= data['Annual Salary'].dropna()

In [15]:
salaries

0         72510.0
1         93354.0
3        132972.0
4         90024.0
6        111444.0
           ...
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
33701    126732.0
Name: Annual Salary, Length: 25528, dtype: float64

In [16]:
# Your code here:

# One-sided test:
# H0: mean of this year salaries < $86000/year 
# H1: mean of this year salaries >= $86000/year

stat, pval = ttest_1samp(salaries, 86000)

In [17]:
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   23.149576589194083
pvalue for the one-tailed test is  1.1882570425863358e-117

In [18]:
confidence_level = 0.95
degrees_freedom = len(salaries) - 1  
sample_mean = np.mean(salaries)

sample_standard_error = scipy.stats.sem(salaries) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [19]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88802.55516222386, 89321.03483777608) .

In [ ]:
#we reject the null hyphothesis that the mean of this year salaries is less than last year ($86000/year)

In [20]:
salaries.mean()   #indeed the mean salary is greater than last year's average

89061.79499999997

Using the `crosstab` function, find the department that has the most hourly workers.

In [ ]:
import scipy.stats as st

In [21]:
# Your code here:

data_crosstab = pd.crosstab(data['Department'], data['Salary or Hourly'], margins = True)
top_dept_hourly=data_crosstab.sort_values(by='Hourly', ascending=False).reset_index().iloc[1]['Department']
top_dept_hourly

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [22]:
top_dept_hourly_rate= data[(data['Department']==top_dept_hourly) & (data['Salary or Hourly']=='Hourly')]['Hourly Rate']
top_dept_hourly_rate

15       40.78
16       38.52
26       38.52
49       29.96
65       37.45
         ...
33623    38.01
33624    37.45
33667    37.45
33668    38.52
33676    25.95
Name: Hourly Rate, Length: 1846, dtype: float64

In [23]:
# Your code here:

# One-sided test:
# H0: the department STREETS & SAN have an hourly wage > $35/hour.
# H1: the department STREETS & SAN have an hourly wage < $35/hour


stat, pval = ttest_1samp(top_dept_hourly_rate, 35)

In [24]:
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

In [ ]:
# we reject the null hypothesis that the department STREETS & SAN have an hourly wage greater than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [25]:
# Your code here:

confidence_level = 0.95
degrees_freedom = len(hourly_w) - 1  
sample_mean = np.mean(hourly_w)

sample_standard_error = scipy.stats.sem(hourly_w) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [26]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [27]:
# Your code here:

confidence_level = 0.95
degrees_freedom = len(salaries) - 1  
sample_mean = np.mean(salaries)

sample_standard_error = scipy.stats.sem(salaries) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [28]:
print( 'confidence interval for police salary is ', confidence_interval, '.' )

confidence interval for police salary is  (88802.55516222386, 89321.03483777608) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: